*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    margin: 0;
    font-family: 'Rubik';
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.nav-container{
    background-color: #FFFF;

}

.nav-container a{
    color: black;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

header .logo{
    width: 200px;
    height: 24px;
    left: 59px;
    top: 38px;

    font-family: 'Bungee';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #FF715B;
}

header nav ul{
    display: flex;
}

header nav ul a{
    display: block;
    padding: 0 1em;
}

.welcome-page{
    background-color: #f1f1f1;
    place-content: center;
    text-align: center;
    height: 40em;
    padding: 4em;
    display: grid;
    color: #1ea896;
}

.content h1{
    font-family: 'Bungee';
    font-weight: 400;
    font-size: 120px;
    padding: none;
}

.meet a{
    font-family: Bungee;
    color: #F89E18;
}

.arrow{
    width: 30px;
    margin-top: 2em;
}

section{
    padding: 4em 2em;
    text-align: center;
}

.featured{
    position: relative;
    height: em;
}

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Bungee';
    color: #F89E18;
    letter-spacing: .3em;
    font-size:.90em;
}

.featured-title{
    color: black;
    font-family: Bungee;
    font-weight: bold;
    font-size: 2em;
    margin-top: -.4em;
    display: block;
}

.experience{
    background: #1ea896;
}

.featured-desc{
    color: #3b3b3b;
    margin-bottom: 3em;
    font-size: .95em;
    line-height: 1.8em;
    font-weight: 500;
}


.experience-container ul li{
    background: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;
}

.icon-container{
    padding: 1em;
    color: black;
    display: grid;
    place-content: center;
}

.experience-title{
    font-weight: bold;
    font-family: Bungee;
}

.portfolio-container a img{
    border-radius: 1em;
    margin-bottom: 2em;
}

.featured img{
    display: grid;
    width: 60%;
    margin-left: 15em;
    border-radius: 100%;
    margin-top: 5em;
}

.projects-container a{
    text-decoration: underline;
}

.contacts-container{
    font-family: Bungee;
    background-color: #1ea896;
    display: flex;
    justify-content: center;

}

footer nav ul{
    display: flex;
}

footer nav ul a{
    display: block;
    padding: 2rem;
    color: #3b3b3b;
}

@media only screen and (min-width: 800px){
    .featured, .subtitle, .projects-left{
        text-align: left;
    }

    .featured, .projects-container{
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left, .projects-left{
        display: grid;
        place-content: center;
    }
    
    .experience{
        margin-bottom: -7em;
        padding-top: 2em;
    }
    .experience-container ul{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-gap: 1em;
    }

    .projects{
        background: white;
        padding-top: 7em;
    }

    .projects-container img{
        size: 50%;

        margin-bottom: 1em;
        border-radius: 2.5%;
    }
}

